    {# <hr class="slide__hr" /> #}
    <footer>
      {# <h4>Database Bootcamp 6</h4> #}

      <h3>
        <a class="slide__title" href="{{ '../slide_001' | url }}">
        Database Bootcamp 6
        </a>
      </h3>

      <h5 class="slide__copy">
        <span>© Thomas Steeples 2022</span>
      </h5>


      <p class="slide-number">Slide {{ slide_number }}</p>
    </footer>